<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>validacion</title>
</head>
<body>
<h1>Validacion anti Robots</h1>
<form th:action="@{/seguridad}" th:object="${robot}" method="post">
    <h2>Eres un robot</h2><br>
    <input type="radio" th:field="*{soyRobot}" th:value="false">
    <span th:errors="*{soyRobot}" style=color:#FF0000></span><br>
    <input type="submit" value="Validar">
</form>
<a href="/producto">Regresar</a>

</body>
</html>